body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: #0b0f1a;
  color: white;
}

.nav {
  position: fixed;
  width: 100%;
  background: #020617;
  display: flex;
  justify-content: space-between;
  padding: 15px 10%;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero span { color: #38bdf8; }

section {
  padding: 100px 10%;
}

.grid span {
  background: #020617;
  padding: 15px;
  margin: 8px;
  display: inline-block;
  border-radius: 10px;
}

.card {
  background: #020617;
  padding: 20px;
  margin-top: 20px;
}

.typing {
  color: #38bdf8;
  font-weight: 500;
}

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.card:hover,
.grid span:hover {
  box-shadow: 0 0 20px #38bdf8;
  transform: translateY(-6px);
  transition: 0.3s;
}

.hero img {
  box-shadow: 0 0 60px rgba(56, 189, 248, 0.7);
  border-radius: 50%;
}

